name: Dotnet Build, Lint and Test

on:
    push:

jobs:
    build-test-lint:
        runs-on: ubuntu-22.04

        steps:
            - name: Checkout Xero-NetStandard repo
              uses: actions/checkout@v4
              with:
                repository: XeroAPI/Xero-NetStandard
                path: Xero-NetStandard

            - name: Set up .NET environment
              uses: actions/setup-dotnet@v4
              with: 
                dotnet-version: '3.1'

            - name: Build post generation
              run: dotnet build
              working-directory: Xero-NetStandard

            # - name: Validate Lint
            #   run: dotnet format --verify-no-changes
            #   working-directory: Xero-NetStandard

            # - name: Run Test
            #   run: dotnet test
            #   working-directory: Xero-NetStandard