name: Dotnet Build, Lint and Test

on:
    push:

jobs:
    build-test-lint:
        runs-on: ubuntu-22.04

        steps:
            - name: Checkout Xero-NetStandard repo
              uses: actions/checkout@v4
              with:
                repository: XeroAPI/Xero-NetStandard
                path: Xero-NetStandard

            - name: Set up .NET environment
              uses: actions/setup-dotnet@v4
              with: 
                dotnet-version: '3.1'

            - name: Build post generation
              run: dotnet build
              working-directory: Xero-NetStandard

            - name: Check for Outdated Packages
              run: |
                dotnet list package --outdated
              working-directory: Xero-NetStandard

            # - name: Validate Lint
            #   run: dotnet format --verify-no-changes
            #   working-directory: Xero-NetStandard

            - name: Set up Node environment
              uses: actions/setup-node@v2
              with:
                node-version: 20

            - name: Install Prism
              run: npm install -g @stoplight/prism-cli

            - name: Start PRISM Server
              run: ./start-prism.sh & sleep 15
              working-directory: Xero-NetStandard/Xero.NetStandard.OAuth2.Test/util

            - name: Run Test
              run: dotnet test
              working-directory: Xero-NetStandard

            - name: Stop PRISM
              if: success() || failure()
              run: pkill -f prism
              working-directory: Xero-NetStandard